dependency-injector
fastapi[standard]
flake8
hvac
isort
pre-commit
psutil
psycopg2-binary
pytest
pytest-asyncio
pytest-cov
pyyaml
requests
ruff
slowapi
sqlalchemy
starlette
testcontainers[postgresql]
testcontainers[redis]
testcontainers[vault]
uvicorn
