dependency-injector
fastapi[standard]
flake8
hvac
isort
markitdown
pre-commit
psutil
psycopg2-binary
pydantic
pytest
pytest-asyncio
pytest-cov
pyyaml
requests
ruff
slowapi
sqlalchemy
starlette
testcontainers[ollama]
testcontainers[postgresql]
testcontainers[vault]
uvicorn
