dependency-injector
fastapi[standard]
flake8
hvac
isort
langchain
langchain-anthropic
langchain-core
langchain-ollama
langchain-openai
langchain-postgres
langchain-xai
langgraph
langgraph-checkpoint-postgres
markitdown
opentelemetry-api
opentelemetry-exporter-otlp-proto-http
opentelemetry-instrumentation-fastapi
opentelemetry-sdk
pre-commit
psutil
psycopg-binary
psycopg-pool
psycopg2-binary
pydantic
pytest
pytest-asyncio
pytest-cov
pyyaml
requests
ruff
slowapi
sqlalchemy
starlette
testcontainers[ollama]
testcontainers[postgresql]
testcontainers[vault]
unstructured[md]
uvicorn
