<ng-container *ngIf="{
  isProcessing: isProcessing$ | async,
  messages: messages$ | async
} as vm">


  <div class="h-96 overflow-y-scroll">
    <!-- Loading indicator -->
    <div *ngIf="vm.isProcessing" class="text-center p-2">
      ...
    </div>

    <!-- Message list -->
    <div *ngFor="let message of vm.messages" [class]="message?.message_role=='human' ? 'flex justify-end mb-2' : 'flex justify-start mb-2'">
      <div [class]="message?.message_role=='human' ? 'bg-blue-500 text-white p-2 rounded-lg max-w-xs' : 'bg-gray-300 text-black p-2 rounded-lg max-w-xs'">
        <!-- User message (plain text) -->
        <div *ngIf="message?.message_role=='human'">{{ message?.message_content }}</div>
        <!-- AI message (markdown) -->
        <markdown *ngIf="message?.message_role=='assistant'">{{ message?.message_content }}</markdown>
      </div>
    </div>

  </div>
</ng-container>
