<div class="flex flex-row">

  <ng-container *ngIf="!recordedAudio">
    <!-- Permission Prompt -->
    <ng-container *ngIf="permissionState === 'prompt' || permissionState === 'denied'">
      <button (click)="requestMicrophonePermission()" class="text-gray-400 hover:text-gray-300">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
      </button>
    </ng-container>

    <!-- Recording Controls (shown only when permission is granted) -->
    <ng-container *ngIf="permissionState === 'granted'">
      <button
        (click)="toggleRecording()"
        [disabled]="!isMicrophoneAvailable"
        [ngClass]="{
        'text-red-400': isRecording,
        'text-gray-400 hover:text-green-400': !isRecording,
        'text-gray-200 cursor-not-allowed': !isMicrophoneAvailable
      }"
      >
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z"
                stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
      </button>

      <div *ngIf="isRecording" class="text-center text-gray-600 text-sm ml-4">
        {{ formatTime(recordingTime) }} / {{ formatTime(maxRecordingTime) }}
      </div>
    </ng-container>

    <!-- General Error Message (if microphone is unavailable after permission check) -->
    <ng-container *ngIf="!isMicrophoneAvailable && permissionState === 'granted'">
      <button class="text-gray-200">
        <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path d="M19 11a7 7 0 01-7 7m0 0a7 7 0 01-7-7m7 7v4m0 0H8m4 0h4m-4-8a3 3 0 01-3-3V5a3 3 0 116 0v6a3 3 0 01-3 3z" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
          <path d="M3 21l18-18" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
        </svg>
      </button>
    </ng-container>
  </ng-container>

</div>

